## Visual Studio & .NET Core standard ignores
.vs/
bin/
obj/
[Bb]in/
[Oo]bj/
*.user
*.suo
*.userosscache
*.sln.docstates

## Docker
docker-compose.override.yml
.dockerignore

## Logs (ти використовуєш Serilog, папки Logs треба ігнорувати)
Logs/
**/Logs/
*.log

## IDE specific (VS Code, Rider)
.vscode/
.idea/

appsettings.json


